<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.haves.tugasakhir.gcs" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Tugas Akhir GCS" android:theme="@style/MainTheme" android:debuggable="true" android:icon="@drawable/logo">
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
</manifest>